 <div class="account-centre-body">
        <div class="tip flex">
            <span class="name flex1">soone2</span>
            <span class="money"><i class="d"></i>100300.58</span>
            <span class="h-money unsee"><i class="d"></i>隐藏金额</span>
        </div>
        <ul class="tap">
            <li class="item on">
                <a href="#">
                    <i class="card"></i>
                    <span class="text">银行卡管理</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="site"></i>
                    <span class="text">站内信息</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="modify-pwd"></i>
                    <span class="text">修改密码</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="agent"></i>
                    <span class="text">代理管理</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="recharge"></i>
                    <span class="text">充值</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="withdrawal"></i>
                    <span class="text">提现</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="all-user"></i>
                    <span class="text">账号全览</span>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <i class="history"></i>
                    <span class="text">交易记录</span>
                </a>
            </li>
        </ul>
        <div class="history-t main-table">
            <div class="select-title-black">
                <span>                    
                    <select class="select-p">
                        <option value="全部">全部</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <em>全部</em>
                </span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>2017-03-24 12:31:16</td>
                        <td class="red">3.936</td>
                        <td>存入</td>
                        <td><a>详情></a></td>
                    </tr>
                    <tr>
                        <td>2017-03-24 12:31:16</td>
                        <td class="red">3.936</td>
                        <td>存入</td>
                        <td><a>详情></a></td>
                    </tr>
                </tbody>
            </table>
            <ul class="history-list clearfix">
                <li>小计:<i class="red">10笔</i></li>
                <li>交易额度:<i class="red">27.744</i></li>
                <li>总计:<i class="red">10笔</i></li>
                <li>交易额度:<i class="red">183.77</i></li>
            </ul>
            <div class="btn-center">
                <input type="submit" value="加载更多" class="btn">
            </div>
        </div>